body {
    color : #f4f4f4;
    background-color: #222;
}

header {
    background-color: #444;
    color: #f4f4f4;
}

header > h1 {
    color: #f4f4f4;
}

ul#notes-list li, form.edit {
    background-color: #333;
    border: 1px solid #444;
    color: #f4f4f4;
}

ul#notes-list li p#notes-list-description {
    border-top: 1px solid #f4f4f4;
}