/* styles.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: white;
}

header {
    background-color: lightgray;
    padding: 10px 0;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
}

header > h1 {
    margin: 0;
    font-size: 24px;
    flex-grow: 1;
    align-self: center;
}

header form {
    margin: 5px;
}

ul#notes-list {
    list-style-type: none;
    padding: 0 10px;
    width: 100%;
    box-sizing: border-box;
}

ul#notes-list li {
    background-color: #b3b2b2;
    border: 1px solid #ddd;
    margin: 5px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    justify-items: center;
}

ul#notes-list li form {
    width: 100%;
}

ul#notes-list li h3 {
    margin: 0 0 10px;
}

ul#notes-list li p {
    margin: 5px 0;
}

ul#notes-list li p#notes-list-description {
    border-top: 1px solid black;
    padding-top: 10px;
    grid-column: 1 / 6;
    white-space: pre-wrap;
    width: 100%;
}

/* Form Styles */
form.edit {
    background-color: #b3b2b2;
    border: 1px solid #ddd;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    width: 100%;
    max-width: 500px;
    margin: 5px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
}

form input[type="text"],
form input[type="number"],
form input[type="date"],
form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

form textarea#description {
    height: 200px;
    resize: none;
}

form input[type="checkbox"] {
    margin-bottom: 10px;
}

form input[type="submit"] {
    background-color: #007BFF;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

form input[type="submit"]:hover {
    background-color: #0056b3;
}

/* Media Queries for Smartphone Mode */
@media (max-width: 800px) {
    header {
        flex-direction: column;
    }

    header > h1 {
        order: -1;
    }

    ul#notes-list li {
        display: flex;
        flex-direction: column;
    }
}